NET "nBOSS"		LOC = "P1" ;
//NET "nASDELAY"	LOC = "P2" ;
//NET "nDSACKDIS"	LOC = "P4" ;
//NET "nDSACKEN"	LOC = "P5" ;
//NET "IPLCLK"	LOC = "P6" ;
//NET "DSCLK"		LOC = "P7" ;
//NET "DRSEL"		LOC = "P8" ;
//NET "nADOEH"	LOC = "P9" ;
//NET "nC1"		LOC = "P10" ;
//NET "nBGDIS"	LOC = "P11" ;	
//NET "nC3"		LOC = "P12" ;
//NET "P7M"			LOC = "P13" ;
//NET "nADOEL"	LOC = "P15" ;
NET "nAAS"		LOC = "P16" ;
//NET "nIVMA"		LOC = "P17" ;
//NET "ARnW"		LOC = "P18" ;
NET "nDTACK"	LOC = "P19" ;
NET "nABG"		LOC = "P20" ;
//NET "nABGACK"		LOC = "P22" ;
NET "nABR"		LOC = "P23" ;
NET "nRESET"		LOC = "P24" ;
//NET "E"		LOC = "P25" ;
//NET "nVPA"		LOC = "P27" ;
//NET "CDAC"		LOC = "P31" ;
NET "A7M"		LOC = "P32" ;
NET "B2000"		LOC = "P33" ;
//NET "nBGACK"	LOC = "P34" ;
//NET "nCYCEND"		LOC = "P35" ;
//NET "nDSEN"			LOC = "P36" ;
//NET "nONBOARD"		LOC = "P38" ;
//NET "TRISTATE"		LOC = "P39" ;
//NET "MEMACCESS"	LOC = "P40" ;
//NET "nEXTERN"		LOC = "P42" ;
//NET "EXTSEL"		LOC = "P43" ;
//NET "nASEN"		LOC = "P44" ;
//NET "nAS"		LOC = "P45" ;
//NET "RnW"		LOC = "P46" ;
//NET "nCPURESET"		LOC = "P47" ;
//NET "FC<2>"		LOC = "P48" ;
//NET "FC<1>"	LOC = "P49" ;	
//NET "FC<0>"	LOC = "P50" ;
//NET "nDSACK1"		LOC = "P51" ;
//NET "nBR"		LOC = "P52" ;
NET "nHALT"		LOC = "P56" ;
//NET "A1"		LOC = "P57" ;
//NET "RSTENB"		LOC = "P58" ;
//NET "JMODE"		LOC = "P59" ;
//NET "MODE68K"	LOC = "P60" ;
//NET "nREGRESET"		LOC = "P61" ;
//NET "nS7MDISD"		LOC = "P62" ;
//NET "SCLK"	LOC = "P63" ;
//NET "nS7MDIS"	LOC = "P64" ;