NET "nS7MDISD"	LOC = "P1" ;
NET "SCLK"		LOC = "P3" ;
NET "nS7MDIS"	LOC = "P4" ;
NET "nBOSS"		LOC = "P6" ;
NET "nASDELAY"	LOC = "P8" ;
NET "nDSACKDIS"	LOC = "P9" ;
NET "IPLCLK"	LOC = "P10" ;
NET "nDSACKEN"	LOC = "P11" ;	
NET "nDSCLK"	LOC = "P12" ;

NET "ADDIR"		LOC = "P13" ;
NET "DRSEL"		LOC = "P14"	;
NET "nADOEH"	LOC = "P15" ;
NET "P7M"		LOC = "P16" ;
NET "nC1"		LOC = "P17" ;
NET "nC3"		LOC = "P18" ;
NET "nADOEL"	LOC = "P20" ;
NET "nAAS"		LOC = "P22" ; //22 54
NET "nUDS"		LOC = "P23" ; //23 53
NET "nLDS"		LOC = "P25" ;
NET "nDTACK"	LOC = "P28" ;
NET "nABG"		LOC = "P29" ;
NET "nABGACK"	LOC = "P30" ;
NET "nABR"		LOC = "P33" ;
NET "nRESET"	LOC = "P35" ;
NET "E"			LOC = "P36" ;
NET "nVPA"		LOC = "P37" ;
NET "nOVR"		LOC = "P39" ;
NET "nBGACK"	LOC = "P40" ;
NET "nIVMA"		LOC = "P41" ;
NET "B2000"		LOC = "P42" ;
NET "TRISTATE"	LOC = "P49" ;	
NET "CONFIGED"	LOC = "P50" ;
NET "ARnW"		LOC = "P52" ;
NET "CDAC"		LOC = "P53" ; //53 23
NET "A7M"		LOC = "P54" ; //54 22
NET "MEMACCESS"	LOC = "P55" ;	
NET "nBGDIS"		LOC = "P58" ;
NET "nCYCEND"	LOC = "P60" ;
NET "DSEN"		LOC = "P61" ;
NET "nONBOARD"	LOC = "P63" ;
NET "nMEMSEL"	LOC = "P64" ;

NET "nEXTERN"	LOC = "P65" ;
NET "nASEN"		LOC = "P66" ;
NET "CPUCLK"	LOC = "P67" ; //67 27
NET "nCPURESET"	LOC = "P68" ;
NET "EXTSEL"	LOC = "P70" ;
NET "FC<2>"		LOC = "P71" ;
NET "FC<1>"		LOC = "P72" ;
NET "FC<0>"		LOC = "P74" ;
//NET "n7M"		LOC = "P76" ;
NET "nAS"		LOC = "P85" ;
NET "RnW"		LOC = "P86" ;
NET "nSTERM"	LOC = "P87" ;
NET "nHALT"		LOC = "P90" ;
NET "nDSACK1"	LOC = "P92" ;
NET "nDSACK0"	LOC = "P93" ;
NET "RSTENB"	LOC = "P94" ;
NET "JMODE"		LOC = "P95" ;
NET "MODE68K"	LOC = "P96" ;
NET "nREGRESET"	LOC = "P97" ;