NET "nBGACK"		LOC = "P1" ;
NET "EXTSEL"		LOC = "P3" ;
NET "PHANTOMLO"	LOC = "P4" ;
NET "PHANTOMHI"	LOC = "P6" ;
NET "FC<0>"			LOC = "P8" ;
NET "FC<1>"			LOC = "P9" ;
NET "nSENSE"		LOC = "P12" ; 
NET "nBERR"			LOC = "P13" ;
NET "nCPURESET"	LOC = "P14" ;
NET "CPUCLK"		LOC = "P22" ; //15
NET "nMEMLOCK"		LOC = "P16" ;
NET "nASEN"			LOC = "P17" ;
NET "nEXTERN"		LOC = "P18" ;
//NET "nMEMSEL"		LOC = "P20" ;
NET "nONBOARD"		LOC = "P15" ; //22
NET "nDSEN"			LOC = "P23" ;
NET "nCYCEND"		LOC = "P25" ;
NET "CONFIGED"		LOC = "P27" ;
//NET "ARnW"			LOC = "P28" ;
NET "TRISTATE"		LOC = "P29" ;
NET "nUDS"			LOC = "P30" ;
NET "nLDS"			LOC = "P33" ;
NET "MEMACCESS"	LOC = "P39" ; //
NET "nRESET"		LOC = "P37" ; //
//NET "TWOMB"			LOC = "P35" ; //35
NET "Z2AUTO"		LOC = "P36" ; 

//NET "MODE68K"		LOC = "P40" ; //
NET "OSMODE"		LOC = "P42" ; //
//NET "nOE0"			LOC = "P49" ; //
NET "nLMBE"			LOC = "P50" ; //
NET "nLLBE"			LOC = "P52" ; //
NET "nUUBE"			LOC = "P53" ; //
NET "nUMBE"			LOC = "P54" ; //
//NET "nWE0"			LOC = "P55" ; //
NET "SIZ<0>"		LOC = "P56" ; //
NET "SIZ<1>"		LOC = "P58" ; //
//NET "EMDDIR"		LOC = "P59" ; //

NET "A<0>"			LOC = "P60" ; //60
NET "A<1>"			LOC = "P61" ; //61
NET "A<2>"			LOC = "P63" ; //
NET "A<3>"			LOC = "P64" ; //
NET "A<4>"			LOC = "P65" ; //
NET "A<5>"			LOC = "P66" ; //
NET "A<6>"			LOC = "P67" ; //
NET "A<13>"			LOC = "P68" ; //
NET "A<14>"			LOC = "P70" ; //
NET "A<15>"			LOC = "P71" ; //
NET "A<16>"			LOC = "P72" ; //
NET "A<17>"			LOC = "P74" ; //
NET "A<18>"			LOC = "P76" ; //
NET "A<19>"			LOC = "P77" ; //
NET "A<20>"			LOC = "P78" ; //
NET "A<21>"			LOC = "P79" ; //
NET "A<22>"			LOC = "P81" ; //81
NET "A<23>"			LOC = "P82" ; //82

NET "D<28>"			LOC = "P86" ; //86
NET "D<29>"			LOC = "P85" ; 
NET "D<30>"			LOC = "P91" ; //90
NET "D<31>"			LOC = "P89" ; 

NET "nCIIN"			LOC = "P87" ;
NET "FC<2>"			LOC = "P90" ; //91
NET "nAVEC"			LOC = "P92" ;
NET "nDS"			LOC = "P93" ;
NET "nAS"			LOC = "P94" ;
NET "RnW"			LOC = "P95" ;
NET "nFPUCS"		LOC = "P96" ;
NET "nCSROM"		LOC = "P97" ;
NET "ROMCLK"		LOC = "P99" ;