NET "nHALT"			LOC = "P2" ;
NET "nCPURESET"	LOC = "P3" ;
NET "nIDEACCESS"	LOC = "P5" ;
NET "nSENSE"		LOC = "P9" ; 
NET "nFPUCS"		LOC = "P10" ;
NET "RnW"			LOC = "P11" ;
NET "nAS"			LOC = "P12" ;
NET "nDS"			LOC = "P13" ;
NET "nDSACK<0>"		LOC = "P14" ;
NET "nDSACK<1>"		LOC = "P15" ;
NET "nAVEC"			LOC = "P16" ;
NET "FC<2>"			LOC = "P17" ;
NET "FC<1>"			LOC = "P19" ;
NET "FC<0>"			LOC = "P20" ;
NET "nBOSS"			LOC = "P21" ;
NET "nBGACK"		LOC = "P22" ;
NET "SMDIS"			LOC = "P23" ;
NET "nBERR"			LOC = "P24" ;

NET "CPUCLK"		LOC = "P30" ;
NET "CPUCLK"		BUFG = CLK  ;

//NET "CDAC"			LOC = "P32";
//NET "CDAC"			BUFG = CLK;

NET "nMEMZ2"		LOC = "P33" ;
NET "CONFIGED"		LOC = "P35" ;

NET "A7M"			LOC = "P38" ;
NET "A7M"			BUFG = CLK  ;

NET "AADIR"			LOC = "P39" ;
NET "nAAENA"		LOC = "P40" ;
NET "nUDS"			LOC = "P41" ;
NET "nLDS"			LOC = "P43" ; 
//NET "nAAS"			LOC = "P44" ; 
NET "nDTACK"		LOC = "P45" ; 
NET "OSMODE"		LOC = "P46" ;
NET "Z2AUTO"		LOC = "P48" ;
NET "nRAM8"			LOC = "P50" ;
NET "nOVR"			LOC = "P56" ;
NET "nMEMZ3"		LOC = "P58" ;
//NET "nGRESET"		LOC = "P61" ;
NET "nEMENA"		LOC = "P64" ;
NET "MODE68K"		LOC = "P66" ;
NET "nRESET"		LOC = "P68" ;
//NET "Z3CONFIGED"	LOC = "P69" ;
NET "nUMBE"			LOC = "P70" ;
NET "nLLBE"			LOC = "P71" ;
NET "nUUBE"			LOC = "P74" ;
NET "nLMBE"			LOC = "P75" ; 

NET "nZWE"			LOC = "P76" ;
NET "nZCAS"			LOC = "P77" ;
NET "CLKE"			LOC = "P78" ;
NET "nZRAS"			LOC = "P79" ;
NET "nZCS"			LOC = "P81" ;
NET "ZBANK0"		LOC = "P83" ;
NET "ZBANK1"		LOC = "P86" ;
NET "EMDDIR"		LOC = "P100" ;
NET "SIZ<1>"		LOC = "P101" ;
NET "SIZ<0>"		LOC = "P102" ;
NET "nCIIN"			LOC = "P139" ;
NET "nCSROM"		LOC = "P140" ;

NET "ZMA<0>"		LOC = "P92" ;
NET "ZMA<1>"		LOC = "P94" ;
NET "ZMA<2>"		LOC = "P96" ;
NET "ZMA<3>"		LOC = "P98" ;
NET "ZMA<4>"		LOC = "P97" ;
NET "ZMA<5>"		LOC = "P95" ;
NET "ZMA<6>"		LOC = "P93" ;
NET "ZMA<7>"		LOC = "P91" ;
NET "ZMA<8>"		LOC = "P87" ;
NET "ZMA<9>"		LOC = "P85" ;
NET "ZMA<10>"		LOC = "P88" ;
NET "ZMA<11>"		LOC = "P82" ;
NET "ZMA<12>"		LOC = "P80" ;

NET "D<28>"			LOC = "P7" ;
NET "D<29>"			LOC = "P4" ;
NET "D<30>"			LOC = "P142" ;
NET "D<31>"			LOC = "P143" ;

NET "DROM<16>"		LOC = "P134" ;
NET "DROM<17>"		LOC = "P135" ; 
NET "DROM<18>"		LOC = "P136" ;
NET "DROM<19>"		LOC = "P137" ;
NET "DROM<20>"		LOC = "P138" ;

NET "A<0>"			LOC = "P133" ; 
NET "A<1>"			LOC = "P132" ; 
NET "A<2>"			LOC = "P131" ; 
NET "A<3>"			LOC = "P130" ; 
NET "A<4>"			LOC = "P129" ; 
NET "A<5>"			LOC = "P128" ; 
NET "A<6>"			LOC = "P126" ; 
NET "A<7>"			LOC = "P125" ; 
NET "A<8>"			LOC = "P124" ; 
NET "A<9>"			LOC = "P121" ; 
NET "A<10>"			LOC = "P120" ; 
NET "A<11>"			LOC = "P119" ; 
NET "A<12>"			LOC = "P117" ; 
NET "A<13>"			LOC = "P116" ; 
NET "A<14>"			LOC = "P115" ; 
NET "A<15>"			LOC = "P113" ; 
NET "A<16>"			LOC = "P112" ; 
NET "A<17>"			LOC = "P111" ; 
NET "A<18>"			LOC = "P110" ; 
NET "A<19>"			LOC = "P107" ; 
NET "A<20>"			LOC = "P106" ; 
NET "A<21>"			LOC = "P105" ; 
NET "A<22>"			LOC = "P104" ;
NET "A<23>"			LOC = "P103" ;