NET "ROMCLK"		LOC = "P2" ;
NET "nCPURESET"	LOC = "P3" ;
NET "nSENSE"		LOC = "P9" ; 
NET "nFPUCS"		LOC = "P10" ;
NET "RnW"			LOC = "P11" ;
NET "nAS"			LOC = "P12" ;
NET "nDS"			LOC = "P13" ;
NET "nDSACK1"		LOC = "P14" ;
NET "nDSACK0"		LOC = "P15" ;
NET "nAVEC"			LOC = "P16" ;
NET "FC<2>"			LOC = "P17" ;
NET "FC<1>"			LOC = "P19" ;
NET "FC<0>"			LOC = "P20" ;
NET "nMEMLOCK"		LOC = "P21" ;
NET "PHANTOMLO"	LOC = "P22" ;
NET "PHANTOMHI"	LOC = "P23" ;
NET "nBGACK"		LOC = "P24" ;
NET "EXTSEL"		LOC = "P25" ;
NET "nBERR"			LOC = "P26" ;
NET "nEXTERN"		LOC = "P27" ;
NET "nONBOARD"		LOC = "P28" ;
NET "CPUCLK"		LOC = "P30" ;
NET "nASEN"			LOC = "P31" ;
NET "MEMACCESS"	LOC = "P33" ;
NET "TRISTATE"		LOC = "P34" ;
NET "CONFIGED"		LOC = "P35" ;
NET "nDSEN"			LOC = "P39" ; 
NET "nCYCEND"		LOC = "P40" ; 
NET "nUDS"			LOC = "P41" ;
NET "nLDS"			LOC = "P43" ; 
NET "nAAS"			LOC = "P44" ; 
NET "nDTACK"		LOC = "P45" ; 
NET "OSMODE"		LOC = "P46" ;
NET "Z2AUTO"		LOC = "P48" ;
NET "ADDIR"			LOC = "P54" ;
NET "nOVR"			LOC = "P56" ;
NET "nRESET"		LOC = "P70" ;
NET "nLLBE"			LOC = "P79" ; 
NET "nUMBE"			LOC = "P80" ;
NET "nLMBE"			LOC = "P81" ;
NET "nUUBE"			LOC = "P82" ;
NET "nZWE"			LOC = "P83" ;
NET "nZCAS"			LOC = "P85" ;
NET "nCLKE"			LOC = "P86" ;
NET "nZRAS"			LOC = "P87" ;
NET "nZCS"			LOC = "P88" ;
NET "ZBANK0"		LOC = "P91" ;
NET "ZBANK1"		LOC = "P93" ;
NET "EMDDIR"		LOC = "P105" ;
NET "SIZ<0>"		LOC = "P106" ;
NET "SIZ<1>"		LOC = "P107" ;
NET "nCIIN"			LOC = "P139" ;
NET "nCSROM"		LOC = "P140" ;

NET "ZMA<0>"			LOC = "P97" ;
NET "ZMA<1>"			LOC = "P100" ;
NET "ZMA<2>"			LOC = "P102" ;
NET "ZMA<3>"			LOC = "P104" ;
NET "ZMA<4>"			LOC = "P103" ;
NET "ZMA<5>"			LOC = "P101" ;
NET "ZMA<6>"			LOC = "P98" ;
NET "ZMA<7>"			LOC = "P96" ;
NET "ZMA<8>"			LOC = "P94" ;
NET "ZMA<9>"			LOC = "P92" ;
NET "ZMA<10>"			LOC = "P95" ;

NET "D<28>"			LOC = "P7" ;
NET "D<29>"			LOC = "P4" ; 
NET "D<30>"			LOC = "P142" ;
NET "D<31>"			LOC = "P143" ;

NET "A<0>"			LOC = "P138" ; 
NET "A<1>"			LOC = "P137" ; 
NET "A<2>"			LOC = "P136" ; 
NET "A<3>"			LOC = "P135" ; 
NET "A<4>"			LOC = "P134" ; 
NET "A<5>"			LOC = "P133" ; 
NET "A<6>"			LOC = "P132" ; 
NET "A<7>"			LOC = "P131" ; 
NET "A<8>"			LOC = "P130" ; 
NET "A<9>"			LOC = "P129" ; 
NET "A<10>"			LOC = "P128" ; 
NET "A<11>"			LOC = "P126" ; 
NET "A<12>"			LOC = "P125" ; 
NET "A<13>"			LOC = "P124" ; 
NET "A<14>"			LOC = "P121" ; 
NET "A<15>"			LOC = "P120" ; 
NET "A<16>"			LOC = "P119" ; 
NET "A<17>"			LOC = "P117" ; 
NET "A<18>"			LOC = "P116" ; 
NET "A<19>"			LOC = "P115" ; 
NET "A<20>"			LOC = "P113" ; 
NET "A<21>"			LOC = "P112" ; 
NET "A<22>"			LOC = "P111" ;
NET "A<23>"			LOC = "P110" ; 