NET "nAS"		LOC = "P" ;
NET "RnW"		LOC = "P" ;
NET "nBOSS"		LOC = "P" ;
NET "nABG"		LOC = "P" ;
NET "nAAS" 		LOC = "P" ;

NET "FC<0>"		LOC = "P" ;
NET "FC<1>"		LOC = "P" ;
NET "FC<2>"		LOC = "P" ;

NET "nHALT"		LOC = "P" ;
NET "nRESET"	LOC = "P" ;
NET "B2000"		LOC = "P" ;
NET "MODE68K"	LOC = "P" ;
NET "nABGACK"	LOC = "P" ;
NET "EXTSEL"	LOC = "P" ;
NET "nSTERM"	LOC = "P" ;
NET "nASEN"		LOC = "P" ;
NET "A7M"		LOC = "P" ;
NET "nC1"		LOC = "P" ;
NET "nC3"		LOC = "P" ;
NET "CDAC"		LOC = "P" ;
NET "ARnW"		LOC = "P" ;
NET "nVPA"		LOC = "P" ;
NET "JMODE"		LOC = "P" ;
NET "MEMACCESS"	LOC = "P" ;
NET "CONFIGED"	LOC = "P" ;		
		
NET "P7M"		LOC = "P" ;
NET "n7M"		LOC = "P" ;
NET "TRISTATE"	LOC = "P" ;
NET "nBGACK"	LOC = "P" ;
NET "nDTACK"	LOC = "P" ;
NET "nCYCEND"	LOC = "P" ;
NET "nEXTERN"	LOC = "P" ;
NET "SCLK"		LOC = "P" ;
NET "nMEMSEL"	LOC = "P" ;
NET "SN7MDIS"	LOC = "P" ;
NET "nS7MDIS"	LOC = "P" ;
NET "nABR"		LOC = "P" ;
NET "nONBOARD"	LOC = "P" ;
NET "nDSACKEN"	LOC = "P" ;
NET "E"			LOC = "P" ;
NET "nIVMA"		LOC = "P" ;
		
NET "nDSCLK"	LOC = "P" ;
NET "IPLCLK"	LOC = "P" ;
NET "DSEN"		LOC = "P" ;
NET "nDSACKDIS"	LOC = "P" ;
NET "nEDTACK"	LOC = "P" ;
NET "nREGRESET"	LOC = "P" ;