NET "nBOSS"			LOC = "P1" ;
//NET "nDS"			LOC = "P2" ;
NET "nSTERM"		LOC = "P4" ; //6
NET "nBG"			LOC = "P6" ; //7
NET "CDAC"			LOC = "P7" ; //5
NET "IPLCLK"		LOC = "P8" ;
NET "DRSEL"			LOC = "P9" ;
NET "nADOEH"		LOC = "P10" ;
NET "nC1"			LOC = "P11" ;	
NET "nC3"			LOC = "P12" ;
NET "nADOEL"		LOC = "P13" ;

//NET "CPUCLK"		LOC = "P15" ;
//NET "CPUCLK"		BUFG = CLK ;

NET "nAAS"			LOC = "P16" ;
NET "nVMA"			LOC = "P17" ;
NET "ARnW"			LOC = "P18" ;
NET "nDTACK"		LOC = "P19" ;
NET "nABG"			LOC = "P20" ;
NET "nABGACK"		LOC = "P22" ;
NET "nABR"			LOC = "P23" ;
NET "nRESET"		LOC = "P24" ;
NET "E"				LOC = "P25" ;
NET "nVPA"			LOC = "P27" ;
NET "ADDIR"			LOC = "P31" ;

NET "A7M"			LOC = "P32"; 
//NET "A7M" 			BUFG = CLK;

NET "B2000"			LOC = "P33" ;
NET "nBGACK"		LOC = "P34" ;
NET "nLDS"			LOC = "P35" ;
NET "nUDS"			LOC = "P36" ;
NET "TRISTATE"		LOC = "P38" ;
NET "nMEMZ2"		LOC = "P39" ;
NET "nCLK7"			LOC = "P42" ;
NET "SMDIS"			LOC = "P43" ;
NET "nAS"			LOC = "P46" ;
NET "RnW"			LOC = "P47" ;
NET "FC<2>"			LOC = "P48" ;	
NET "FC<0>"			LOC = "P50" ;
NET "nDSACK1"		LOC = "P51" ;
NET "nBR"			LOC = "P52" ;
NET "A<0>"			LOC = "P56" ;
NET "A<1>"			LOC = "P57" ;
NET "nHALT"			LOC = "P58" ;
NET "nCPURESET"	LOC = "P59" ;
NET "FC<1>"			LOC = "P60" ;
NET "MODE68K"		LOC = "P61" ;
NET "SIZ<1>"		LOC = "P62" ;
NET "SIZ<0>"		LOC = "P63" ;
NET "nBERR"			LOC = "P64" ;