NET "A<0>" 		LOC="P41";
NET "A<1>" 		LOC="P43";
NET "A<2>" 		LOC="P44";
NET "A<3>" 		LOC="P45";
NET "A<4>" 		LOC="P46";
NET "A<5>" 		LOC="P48";
NET "A<6>" 		LOC="P49";
NET "A<7>" 		LOC="P50";
NET "A<8>" 		LOC="P51";
NET "A<9>" 		LOC="P52";
NET "A<10>" 	LOC="P53";
NET "A<11>" 	LOC="P54";
NET "A<12>" 	LOC="P56";
NET "A<13>" 	LOC="P57";
NET "A<14>" 	LOC="P58";
NET "A<15>" 	LOC="P59";
NET "A<16>" 	LOC="P60";
NET "A<17>" 	LOC="P61";
NET "A<18>" 	LOC="P64";
NET "A<19>" 	LOC="P66";
NET "A<20>" 	LOC="P68";
NET "A<21>" 	LOC="P69";
NET "A<22>" 	LOC="P70";
NET "A<23>" 	LOC="P71";
NET "A<24>" 	LOC="P40";
NET "A<25>" 	LOC="P39";
NET "A<26>" 	LOC="P35";
NET "A<27>" 	LOC="P34";
NET "A<28>" 	LOC="P33";
NET "A<29>" 	LOC="P31";
NET "A<30>" 	LOC="P28";
NET "A<31>" 	LOC="P27";

//NET "IDE0"	LOC="P2";
//NET "IDE1"	LOC="P3";
//NET "IDE2"	LOC="P4";
//NET "nBERR"	LOC="P5";
//NET "nOVR"	LOC="P6";
//NET "nCBREQ"	LOC="P7";
//NET "nCBACK"	LOC="P9";
NET "nMEMZ3"	LOC="P10";
//NET "nBGACK"	LOC="P11";
//NET "nSTERM"	LOC="P12";
NET "FC<0>"		LOC="P13";
NET "FC<1>"		LOC="P14";
NET "FC<2>"		LOC="P15";
NET "nDSACK<1>"	LOC="P16";
NET "nDSACK<0>"	LOC="P17";
NET "nDS"		LOC="P19";
NET "nAS"		LOC="P20";
NET "RnW"		LOC="P21";
NET "D"			LOC="P26";

NET "CPUCLK"	LOC="P30";
NET "CPUCLK"	BUFG=CLK;

NET "nIDEACCESS"	LOC="P32";

NET "A7M"		LOC="P38";
NET "A7M"		BUFG=CLK;

NET "nUMBE"		LOC="P79";
NET "nUUBE"		LOC="P80";
NET "nEMCS1"	LOC="P81";
NET "nLLBE"		LOC="P82";
NET "nLMBE"		LOC="P83";
NET "nEMWE"		LOC="P85";
NET "nEMCAS"	LOC="P86";
NET "EMCLKE"	LOC="P87";
NET "nEMRAS"	LOC="P88";
NET "EMA<12>"	LOC="P91";
NET "nEMCS0"	LOC="P92";
NET "EMA<11>"	LOC="P93";
NET "BANK0"		LOC="P94";
NET "EMA<9>"	LOC="P95";
NET "BANK1"		LOC="P96";
NET "EMA<8>"	LOC="P97";
NET "EMA<10>"	LOC="P98";
NET "EMA<7>"	LOC="P100";
NET "EMA<0>"	LOC="P101";
NET "EMA<6>"	LOC="P102";
NET "EMA<1>"	LOC="P103";
NET "EMA<5>"	LOC="P104";
NET "EMA<2>"	LOC="P105";
NET "EMA<4>"	LOC="P106";
NET "EMA<3>"	LOC="P107";

NET "IDEDIR"	LOC="P110";
NET "nIDEEN"	LOC="P111";
NET "DA<1>"		LOC="P112";
NET "DA<0>"		LOC="P113";
NET "DA<2>"		LOC="P115";
//NET "MODE68K"		LOC="P116";
NET "nIDERST"	LOC="P117";
NET "nDIOW"		LOC="P118";
NET "nDIOR"		LOC="P119";
NET "nCS0"		LOC="P120";
NET "nCS1"		LOC="P121";
//NET "IORDY"		LOC="P125";
NET "INTRQ"		LOC="P126";
//NET "nECS"	LOC="P128";

NET "RAMSIZE<2>"	LOC="P129";
NET "RAMSIZE<1>"	LOC="P130";
NET "RAMSIZE<0>"	LOC="P131";

//NET "nDTACK"	LOC="P132";
NET "nIDEDIS"	LOC="P133";
//NET "nRESET"	LOC="P134";
NET "nINT2"		LOC="P135";
NET "nGRESET"	LOC="P137";
NET "SIZ<1>"	LOC="P138";
NET "SIZ<0>"	LOC="P139";