//NET "A<0>" 		LOC="P41";
//NET "A<1>" 		LOC="P43";
//NET "A<2>" 		LOC="P44";
//NET "A<3>" 		LOC="P45";
//NET "A<4>" 		LOC="P46";
//NET "A<5>" 		LOC="P48";
//NET "A<6>" 		LOC="P49";
//NET "A<7>" 		LOC="P50";
//NET "A<8>" 		LOC="P51";
//NET "A<9>" 		LOC="P52";
//NET "A<10>" 	LOC="P53";
//NET "A<11>" 	LOC="P54";
//NET "A<12>" 	LOC="P56";
//NET "A<13>" 	LOC="P57";
//NET "A<14>" 	LOC="P58";
//NET "A<15>" 	LOC="P59";
//NET "A<16>" 	LOC="P60";
//NET "A<17>" 	LOC="P61";
//NET "A<18>" 	LOC="P64";
//NET "A<19>" 	LOC="P66";
//NET "A<20>" 	LOC="P68";
//NET "A<21>" 	LOC="P69";
//NET "A<22>" 	LOC="P70";
//NET "A<23>" 	LOC="P71";
//NET "A<24>" 	LOC="P40";
//NET "A<25>" 	LOC="P39";
//NET "A<26>" 	LOC="P35";
//NET "A<27>" 	LOC="P34";
//NET "A<28>" 	LOC="P33";
//NET "A<29>" 	LOC="P31";
//NET "A<30>" 	LOC="P38";
//NET "A<31>" 	LOC="P27";

//NET "D<24>"		LOC="P4";
//NET "D<25>"		LOC="P143";
//NET "D<26>"		LOC="P142";
//NET "D<27>"		LOC="P22";
//NET "D<28>"		LOC="P23";
//NET "D<29>"		LOC="P24";
//NET "D<30>"		LOC="P25";
//NET "D<31>"		LOC="P26";

////NET "nBERR"		LOC="P5";
////NET "nCBREQ"	LOC="P7";
////NET "nCBACK"	LOC="P9";
//NET "EXTSEL"	LOC="P10";
//NET "nBGACK"	LOC="P11";
//NET "nSTERM"	LOC="P12";
//NET "FC<0>"		LOC="P13";
//NET "FC<1>"		LOC="P14";
//NET "FC<2>"		LOC="P15";
////NET "nDSACK0"	LOC="P16";
//NET "nDSACK1"	LOC="P17";
//NET "nDS"		LOC="P19";
//NET "nAS"		LOC="P20";
//NET "RnW"		LOC="P21";
//NET "CPUCLK"	LOC="P30";
//NET "nEM1LLBE"	LOC="P74";
//NET "nEM1UMBE"	LOC="P75";
//NET "nEM1LMBE"	LOC="P76";
//NET "nEM1UUBE"	LOC="P77";
//NET "nEM1WE"	LOC="P78";
//NET "nCAS1"		LOC="P79";
//NET "EM1CLKE"	LOC="P80";
//NET "nRAS1"		LOC="P81";
//NET "EMA<7>"	LOC="P82";
//NET "nEM1CS"	LOC="P83";
//NET "EMA<5>"	LOC="P85";
//NET "BANK0"		LOC="P86";
//NET "EMA<6>"	LOC="P87";
//NET "BANK1"		LOC="P88";
//NET "EMA<4>"	LOC="P91";
//NET "EMA<3>"	LOC="P92";
//NET "EMA<1>"	LOC="P93";
//NET "EMA<2>"	LOC="P94";
//NET "EMA<0>"	LOC="P95";
//NET "EMA<12>"	LOC="P96";
//NET "EMA<11>"	LOC="P97";
//NET "EMA<9>"	LOC="P98";
//NET "EMA<10>"	LOC="P100";
//NET "EMA<8>"	LOC="P101";
//NET "nEM0LLBE"	LOC="P102";
//NET "nEM0UUBE"	LOC="P103";
//NET "nEM0LMBE"	LOC="P104";
//NET "nEM0UMBE"	LOC="P105";
//NET "nCAS0"		LOC="P107";
//NET "nEM0WE"		LOC="P106";
//NET "EM0CLKE"	LOC="P110";
//NET "nRAS0"		LOC="P111";
//NET "nEM0CS"	LOC="P112";
////NET "DMARQ"		LOC="P113";
//NET "nDIOW"		LOC="P115";
//NET "nDIOR"		LOC="P116";
//NET "IORDY"		LOC="P117";
////NET "nDMACK"	LOC="P118";
//NET "INTRQ"		LOC="P119";
////NET "nIO16"		LOC="P120";
//NET "DA<1>"		LOC="P121";
//NET "DA<0>"		LOC="P124";
//NET "DA<2>"		LOC="P125";
//NET "nCS0"		LOC="P126";
//NET "nCS1"		LOC="P128";
//NET "MODE68K"	LOC="P131";
//NET "nDTACK"	LOC="P132";
//NET "nIDEDIS"	LOC="P133";
//NET "nRESET"	LOC="P134";
////NET "nINT2"		LOC="P135";
////NET "nOVR"		LOC="P136";
//NET "nGRESET"	LOC="P137";
//NET "SIZ<1>"		LOC="P138";
//NET "SIZ<0>"		LOC="P139";
//NET "nZ3DIS"	LOC="P140";

