NET	"A<0>"	LOC = "P82"	;
NET	"A<1>"	LOC = "P81"	;
NET	"A<2>"	LOC = "P79"	;
NET	"A<3>"	LOC = "P78"	;
NET	"A<4>"	LOC = "P77"	;
NET	"A<5>"	LOC = "P76"	;
NET	"A<6>"	LOC = "P74"	;
NET	"A<7>"	LOC = "P72"	;
NET	"A<8>"	LOC = "P71"	;
NET	"A<9>"	LOC = "P70"	;
NET	"A<10>"	LOC = "P68"	;
NET	"A<11>"	LOC = "P67"	;
NET	"A<12>"	LOC = "P66"	;
NET	"A<13>"	LOC = "P65"	;
NET	"A<14>"	LOC = "P64"	;
NET	"A<15>"	LOC = "P63"	;
NET	"A<16>"	LOC = "P61"	;
NET	"A<17>"	LOC = "P60"	;
NET	"A<18>"	LOC = "P59"	;
NET	"A<19>"	LOC = "P58"	;
NET	"A<20>"	LOC = "P56"	;
NET	"A<21>"	LOC = "P55"	;
NET	"A<22>"	LOC = "P54"	;
NET	"A<23>"	LOC = "P53"	;
NET	"A<24>"	LOC = "P52"	;
NET	"A<25>"	LOC = "P50"	;
NET	"A<26>"	LOC = "P49"	;
NET	"A<27>"	LOC = "P42"	;
NET	"A<28>"	LOC = "P41"	;
NET	"A<29>"	LOC = "P37"	;
NET	"A<30>"	LOC = "P35"	;
NET	"A<31>"	LOC = "P32"	;

NET	"MA<0>"	LOC = "P13"	;
NET	"MA<1>"	LOC = "P14"	;
NET	"MA<2>"	LOC = "P15"	;
NET	"MA<3>"	LOC = "P16"	;
NET	"MA<4>"	LOC = "P17"	;
NET	"MA<5>"	LOC = "P18"	;
NET	"MA<6>"	LOC = "P20"	;
NET	"MA<7>"	LOC = "P23"	;
NET	"MA<8>"	LOC = "P25"	;
NET	"MA<9>"	LOC = "P27"	;
NET	"MA<10>"	LOC = "P28"	;
NET	"MA<11>"	LOC = "P29"	;
NET	"MA<12>"	LOC = "P30"	;

NET	"D<0>"	LOC = "P3";
NET	"D<1>"	LOC = "P4";
NET	"D<2>"	LOC = "P6";
NET	"D<3>"	LOC = "P8";

NET	"_RAS"	LOC = "P33"	;
NET	"_CAS"	LOC = "P36"	;

NET	"_CBREQ"	LOC = "P87"	;
NET	"_AS"		LOC = "P91"	;
NET	"_DS"		LOC = "P90"	;
NET	"SIZ0"	LOC = "P92"	;
NET	"SIZ1"	LOC = "P93"	;
NET	"_STERM"	LOC = "P94"	;
NET	"_CBACK"	LOC = "P95"	;
NET	"_DSACK0"	LOC = "P96"	;
NET	"_DSACK1"	LOC = "P97"	;

NET	"CPUCLK_A"	LOC = "P22"	;
NET	"_GRESET"	LOC = "P99" ;

NET	"DQM0"	LOC = "P9"	;
NET	"DQM1"	LOC = "P10"	;
NET	"DQM2"	LOC = "P11"	;
NET	"DQM3"	LOC = "P12"	;

NET	"BANK0"	LOC = "P39"	;
NET	"BANK1"	LOC = "P40"	;

NET 	"FC0"		LOC = "P85"	;
NET 	"FC1"		LOC = "P86"	;
NET 	"FC2"		LOC = "P89"	;

#Address Timings
#From the 68030 user manual...
#The processor places the address on the bus at the beginning of 
#a bus cycle. The address is valid while AS is asserted.
#AS is a timing signal that indicates the validity of an address on the address
#bus and of many control signals. It is asserted one-half clock after the 
#beginning of a bus cycle.
INST	"A<0>"	TNM = ADDRESS	;
INST	"A<1>"	TNM = ADDRESS	;
INST	"A<2>"	TNM = ADDRESS	;
INST	"A<3>"	TNM = ADDRESS	;
INST	"A<4>"	TNM = ADDRESS	;
INST	"A<5>"	TNM = ADDRESS	;
INST	"A<6>"	TNM = ADDRESS	;
INST	"A<7>"	TNM = ADDRESS	;
INST	"A<8>"	TNM = ADDRESS	;
INST	"A<9>"	TNM = ADDRESS	;
INST	"A<10>"	TNM = ADDRESS	;
INST	"A<11>"	TNM = ADDRESS	;
INST	"A<12>"	TNM = ADDRESS	;
INST	"A<13>"	TNM = ADDRESS	;
INST	"A<14>"	TNM = ADDRESS	;
INST	"A<15>"	TNM = ADDRESS	;
INST	"A<16>"	TNM = ADDRESS	;
INST	"A<17>"	TNM = ADDRESS	;
INST	"A<18>"	TNM = ADDRESS	;
INST	"A<19>"	TNM = ADDRESS	;
INST	"A<20>"	TNM = ADDRESS	;
INST	"A<21>"	TNM = ADDRESS	;
INST	"A<22>"	TNM = ADDRESS	;
INST	"A<23>"	TNM = ADDRESS	;
INST	"A<24>"	TNM = ADDRESS	;
INST	"A<25>"	TNM = ADDRESS	;
INST	"A<26>"	TNM = ADDRESS	;
INST	"A<27>"	TNM = ADDRESS	;
INST	"A<28>"	TNM = ADDRESS	;
INST	"A<29>"	TNM = ADDRESS	;
INST	"A<30>"	TNM = ADDRESS	;
INST	"A<31>"	TNM = ADDRESS	;
TIMEGRP "ADDRESS" OFFSET - IN 1 ns VALID 100 ns BEFORE "_AS" FALLING;