NET	"A<16>"	LOC = "P"	;
NET	"A<17>"	LOC = "P"	;
NET	"A<18>"	LOC = "P"	;
NET	"A<19>"	LOC = "P"	;
NET	"A<20>"	LOC = "P"	;
NET	"A<21>"	LOC = "P"	;
NET	"A<22>"	LOC = "P"	;
NET	"A<23>"	LOC = "P"	;

NET "PHANTOMHI"	LOC = "P" ;
NET "PHANTOMLO"	LOC = "P" ;

NET "_AS"	LOC = "P" ;
NET "R_W"	LOC = "P" ;
NET "_BOSS"	LOC = "P" ;
NET "_ABG"	LOC = "P" ;
NET "_AAS" 	LOC = "P" ;

NET "FC0"	LOC = "P" ;
NET "FC1"	LOC = "P" ;
NET "FC2"	LOC = "P" ;
