NET "AL<0>" LOC = "P76";
NET "AL<1>" LOC = "P77";
NET "AL<2>" LOC = "P78";
NET "AL<3>" LOC = "P79";
NET "AL<4>" LOC = "P81";
NET "AL<5>" LOC = "P82";
NET "AL<6>" LOC = "P85";
NET "AH<13>" LOC = "P86";
NET "AH<14>" LOC = "P87";
NET "AH<15>" LOC = "P89";
NET "AH<16>" LOC = "P90";
NET "AH<17>" LOC = "P91";
NET "AH<18>" LOC = "P92";
NET "AH<19>" LOC = "P93";
NET "AH<20>" LOC = "P94";
NET "AH<21>" LOC = "P95";
NET "AH<22>" LOC = "P96";
NET "AH<23>" LOC = "P97";

NET "FC<0>"		LOC = "P6" ;
NET "FC<1>"		LOC = "P8" ;
NET "FC<2>"		LOC = "P9" ;